<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clinica_dental</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>


        <!-- Mostrar las consultas SQL -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Crear tablas automáticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeo de clases -->
        <mapping class="com.clinicadental.model.Entity.Paciente"/>
        <mapping class="com.clinicadental.model.Entity.Doctor"/>
        <mapping class="com.clinicadental.model.Entity.Cita"/>
    </session-factory>
</hibernate-configuration>
